<?xml version="1.0"?>
<config>
    <modules>
        <Apptha_Pticker>
            <version>0.1.0</version>
        </Apptha_Pticker>
    </modules>
    <frontend>
        <routers>
            <pticker>
                <use>standard</use>
                <args>
                    <module>Apptha_Pticker</module>
                    <frontName>pticker</frontName>
                </args>
            </pticker>
        </routers>
        <layout>
            <updates>
                <pticker>
                    <file>pticker.xml</file>
                </pticker>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <pticker>
                <use>admin</use>
                <args>
                    <module>Apptha_Pticker</module>
                    <frontName>pticker</frontName>
                </args>
            </pticker>
        </routers>
    </admin>
    <adminhtml>
<!--        <menu>
            <pticker module="pticker">
                <title>PTicker</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="pticker">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>pticker/adminhtml_pticker</action>
                    </items>
                </children>
            </pticker>
        </menu>-->
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pticker translate="title" module="pticker">
                                            <title>Apptha Pticker</title>
                                            <sort_order>100</sort_order>
                                        </pticker>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <Apptha_PTicker>
                            <title>PTicker Module</title>
                            <sort_order>10</sort_order>
                        </Apptha_PTicker>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <pticker>
                    <file>pticker.xml</file>
                </pticker>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <pticker>
                <class>Apptha_Pticker_Model</class>
                <resourceModel>pticker_mysql4</resourceModel>
            </pticker>
            <pticker_mysql4>
                <class>Apptha_Pticker_Model_Mysql4</class>
                <entities>
                    <pticker>
                        <table>pticker</table>
                    </pticker>
                </entities>
            </pticker_mysql4>
        </models>
        <resources>
            <pticker_setup>
                <setup>
                    <module>Apptha_Pticker</module>
                    <class>Apptha_Pticker_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pticker_setup>
            <pticker_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pticker_write>
            <pticker_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pticker_read>
        </resources>
        <blocks>
            <pticker>
                <class>Apptha_Pticker_Block</class>
            </pticker>
        </blocks>
        <helpers>
            <pticker>
                <class>Apptha_Pticker_Helper</class>
            </pticker>
        </helpers>
    </global>
</config>